# Bearings dataset EDA

In this note book I investigate dataset charachtristics in the dataset. This is the 2nd step in CRISP-DM, "data understanding" and helps in model selection and analysis

In [2]:
import numpy as np
import pandas as pd
import os
import matplotlib as plt

In [4]:
data01_path = './Datasets/bearings01/NB.csv'
data02_path = './Datasets/bearings01/IR-7.csv'
data03_path = './Datasets/bearings01/IR-21.csv'
data04_path = './Datasets/bearings01/OR-7.csv'
data05_path = './Datasets/bearings01/OR-21.csv'

In [7]:
df01_normal = pd.read_csv(data01_path)
df01_normal.head()

         DE        FE
0  0.064254  0.038625
1  0.063002  0.096769
2 -0.004381  0.127382
3 -0.035882  0.144640
4 -0.023991  0.086702

In [6]:
df01_normal.columns = {''}

         DE        FE
0  0.064254  0.038625
1  0.063002  0.096769
2 -0.004381  0.127382
3 -0.035882  0.144640
4 -0.023991  0.086702